#Calculatorcontainer{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: dodgerblue;
    padding: 1em;
    overflow: hidden;
}
h1{
    flex:1;
    text-align: center;
    border: 10px solid black;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 3px;
}
#sub2{
    flex: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
top-level{
display: flex;
flex-direction: column;
}
h2{
color: navy;
text-align: center;
transition: all 500ms ease-in-out;
}
h2:hover{
 color: antiquewhite;
}